<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stardew Valley Tracker</title>
    </head>

    <body>

        <div class="npc-carousel-container"> 
            <div class="npc-carousel-track"> 
                <!-- NPC CARDS -->
                <!-- LISTED IN ALPHABETICAL ORDER-->
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelorettes/Abigail.webp" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelors/Alex.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Caroline.png" card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Clint.png" card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Demetrius.png" card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Dwarf.png" card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelors/Elliott.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelorettes/Emily.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Evelyn.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/George.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

               <div class="npc-card card">
                    <img src="/images/npcs_gift/Gus.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelorettes/Haley.webp" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  
            
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelors/Harvey.webp" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Jas.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Jodi.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Kent.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Krobus.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelorettes/Leah.webp" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Lewis.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Linus.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                
                <div class="npc-card card">
                    <img src="/images/npcs_gift/Marnie.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelorettes/Maru.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Pam.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>   

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelorettes/Penny.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Pierre.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Robin.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelors/Sam.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Sandy.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelors/Sebastian.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>  

                <div class="npc-card card">
                    <img src="/images/npcs_gift/Bachelors/Shane.png" class="card-img-top">
                    <div class="npc-card-body">
                        <h5> Alex </h5>
                        <p class="npc-card-text"> kafsldkasdklbjasdlf </p>
                        <a href ="...."> NPC informatiom</a>
                    </div>     
                </div>     
                
               
               
               
            </div>
        </div>

    </body>

</html>